<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.science.mapper.TeamMapper">

    <resultMap id="detailTeam" type="com.example.science.entity.Team">
        <id column="teamid" property="teamid" />
        <result column="teamname" property="teamname" />
        <result column="chargerid" property="chargerid"/>
        <result column="chargername" property="chargeUserNickname"/>
    </resultMap>

    <resultMap id="TeamDetail" type="com.example.science.dto.MyTeamDto">
        <!--        <id column="id" property="id" />-->
        <result column="team_id" property="teamId" />
        <result column="team_name" property="teamName" />
        <result column="charger_id" property="chargerId" />
        <result column="charger_name" property="chargerName" />
        <result column="project_name" property="projectName" />
        <result column="status" property="status" />
        <result column="budget" property="budget" />
        <result column="declaration_time" property="declarationTime" />
    </resultMap>


<!--    <select id="getMyTeam" resultMap="TeamDetail" parameterType="java.lang.String">-->
<!--        with charger as-->
<!--                 (SELECT team.teamid team_id,ums_user.nickname charger_name,team.chargerid charger_id-->
<!--                 FROM ums_user-->
<!--                 INNER JOIN team on team.chargerid = ums_user.username)-->
<!--        select charger.team_id,charger.charger_id,team.teamname team_name,charger_name,project_name,-->
<!--                project.status,project.budget,project.declaration_time,ums_user.nickname-->
<!--                from ums_user-->
<!--                LEFT JOIN team_user_relation on team_user_relation.username = ums_user.username-->
<!--                INNER JOIN team on team.teamid = team_user_relation.teamid-->
<!--                INNER JOIN project on project.teamid = team.teamid-->
<!--                INNER JOIN charger on charger.team_id = team.teamid-->
<!--            WHERE ums_user.username = #{username}-->
<!--    </select>-->
    <select id="getMyTeam" resultMap="TeamDetail" parameterType="java.lang.String">

        WITH charger AS (
            SELECT
                team.teamid AS team_id,
                ums_user.nickname AS charger_name,
                team.chargerid AS charger_id
            FROM ums_user
                     INNER JOIN team ON team.chargerid = ums_user.username
        )

        SELECT
            charger.team_id,
            charger.charger_id,
            team.teamname AS team_name,
            charger.charger_name,
            project.project_name,
            project.status,
            project.budget,
            project.declaration_time,
            ums_user.nickname
        FROM ums_user
                 LEFT JOIN team_user_relation ON team_user_relation.username = ums_user.username
                 INNER JOIN team ON team.teamid = team_user_relation.teamid
                 INNER JOIN project ON project.teamid = team.teamid
                 INNER JOIN charger ON charger.team_id = team.teamid
        WHERE ums_user.username = #{username};

    </select>


    <select id="getMyChargedTeam"
            resultMap="detailTeam"
            parameterType="java.lang.String">

        SELECT
            t.teamid,
            t.teamname,
            u.nickname AS chargername
        FROM team t
                 JOIN ums_user u
                      ON t.chargerid = u.username
        WHERE t.chargerid = #{username}

    </select>


    <select id="getTeamMembers" resultType="java.lang.String" parameterType="java.lang.Integer">
        select DISTINCT ums_user.nickname FROM ums_user
        INNER JOIN team_user_relation on ums_user.username=team_user_relation.username
        WHERE team_user_relation.teamid = #{teamId}
    </select>


    <insert id="addMyChargedTeam" parameterType="java.util.Map">
        INSERT INTO team (teamname, chargerid)
        VALUES (#{map.teamName}, #{map.chargerId})
    </insert>


    <insert id="addTeamMembers" parameterType="java.util.Map">
        insert into team_user_relation values (#{teamId},#{username})
    </insert>

    <select id="getNewTeamId" resultType="java.lang.Integer">
        select max(teamid) from team
    </select>

    <update id="updateTeam" parameterType="java.util.Map">
        update team set teamname =  #{map.teamName},chargerid = #{map.chargerId}
            where teamid = #{map.teamId}
    </update>

</mapper>
